
.App {
text-align: center;
display: flex;
justify-content: center;
align-items: center;
font-family: "Open Sans",
sans-serif;
}
.container {
background-color: #fff;
margin: 5.9rem ;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem
}
.btn {
font-size: 21px;
padding: 5px
20px;
border: 0;
background-color: #3498db;
color: #fff;
border-radius: 3px;
transition: all
250ms
ease-in-out;
cursor: pointer;
}